body, html {
  padding: 0;
  margin: 0;
  height:100%;
}

#map {
  width:50%;
  float:left;
  height:100%;
}

#sideBar {
	width:50%;
	float:right;
	background:#4682B4;
	height:100vh;
	color: white;
	font:Rockwell;
	padding:20px;
	box-sizing: border-box;
}

h1 {
	font-size: 42px;
	margin-top: 0;
}

/*style "Ridgewood" differently in title with <span> tag*/
.Rwood-text{
	font-size:85px;
	font-weight:bold;
	color:black;
}
/*doesn't work yet*/


/* Parks Divs */
/*GR renamed this div from park to place...*/
.place{
	background:#46B3FE;
	padding: 20px;
	border-radius: 22px;
	margin-bottom: 29px;
}

.place.hover {
	background:#8ECEFA;
}

.placeTitle {
	font-size: 30px;
	font-weight: bold;
}

.placeInfo {
	font-size: 21px;
	margin-bottom: 11px;
	font:sans-serif;
}

#menu {
	font-size: 30px;
	position: absolute;
	right: 22px;
	text-decoration: underline;
}
